{% extends 'base.html' %} 
{% block content %}
    <main>
        <section class="product-list container">
            <h2>Perfumes for Him</h2> 
            <div class="products">
                {% for perfume in men_perfumes %} 
                    <div class="product-item">
                        <a href="#">
                            <img src="{{ url_for('static', filename=perfume.image) }}" alt="{{ perfume.name }} image">
                        </a>
                        <div class="product-info">
                            <h3><a href="#">{{ perfume.name }}</a></h3>
                            <p class="description">{{ perfume.description }}</p>
                            <p class="price">{{ perfume.price }}</p>
                            <button class="add-to-cart">Add to Cart</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}